.header {
  min-width: 320px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 35px 0 88px;
  z-index: 10;
}

.header__container {
  position: relative;
}

.header__nav {
  padding: 0;
}

.header__company {
  color: $color-green;
  font-weight: bold;
  --bs-navbar-brand-font-size: 1rem;

  &:hover {
    color: $color-green;
  }
}

.header__menu {
  justify-content: flex-end;
  gap: 64px;
}

.header__list li a {
  font-family: 'Lato', sans-serif;
  color: $color-green;
  padding: 0;

  &:after {
    background-color: $color-orange;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
  }
}

.header__list li a:hover:after,
.header__list li a:focus:after {
  width: 100%;
}

.header__list {
  gap: 56px;
}

.header__button {
  font-family: 'Lato', sans-serif;
  color: $color-green;
  border: 1px solid $color-green;
  border-radius: 5px;
  width: 177px;
  height: 40px;

  &:hover {
    background-color: $color-green;
    color: #fff;
    transition: background-color .8s, color .5s linear;
  }
}

.header__company-name {
  display: inline-block;
  white-space: nowrap;
}

.header__company-name::after {
  content: "";
  display: inline-block;
  width: 0;
  overflow: hidden;
}

.header__company-name::before {
  content: attr(data-first-line);
  display: block;
  white-space: normal;
}

.header__company-logo {
  vertical-align: baseline;
  margin-right: 15px;
}
