$color-green: #275553; 
$color-orange: #F47648;
$color-black: #212121;
$color-dark-gray: #5A5A5A;
$color-gray: #BABABA;
$color-white: #FFFFFF;

$color-about-title: #121212;
$color-about-text: #313131;
$color-about-text-review: #DEDEDE;