@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: local('Lato'),
    url('../../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: local('Inter'),
    url('../../fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src: local('Montserrat'),
    url('../../fonts/Montserrat-Regular.ttf') format('truetype');
}