$primary-background-image-header: url(../../img/hero/primary-background-image-hero.jpg);
$secondary-background-image-header: url(../../img/hero/secondary-background-image-hero.jpg);

$background-image-about: url(../../img/about/background-image-about.jpg);